.confD_box
   {
            margin:30px 20% 30px 20%;
            background-color: #fff; 
            color: #000; 
            font-size: 16px;
            width: 60%; 
            height: auto;        
            -moz-box-shadow: 0px 3px 6px #c9c9c9;
            -webkit-box-shadow: 0px 3px 6px #c9c9c9;
            box-shadow: 0px 3px 6px #c9c9c9;

   }

        .confD_table
 {
            width:90%;
            background-color: #fff;
            text-align: left;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 55px;
            align-content: center;
            border-collapse: separate;
            border-spacing: 0px;
 }

        td {
            background-color: #fff;
            border: 1px #e7e7e7;
            border-style: solid;
            text-align: center;
            width:40px;
        }

        .cell_item
        {
            border: none;
        }
        .cell_num
        {
            text-align:center;
        }

        .div_button
        {
            text-align: right;
        }
        h3
        {
            color: #fff;
            background-color: #6BB9F0;
            text-align: center;
            line-height: 30px;
            height:30px;
            font-size:18px;
        }