.evaluate_box
        {          
            margin:30px auto 30px auto;
            margin-top: 30px;
            width:40%;
            height: auto;
            font-size: 16px;
            overflow:auto;
            -moz-box-shadow: 0px 3px 6px #c9c9c9;
            -webkit-box-shadow: 0px 3px 6px #c9c9c9;
            box-shadow: 0px 3px 6px #c9c9c9;
       }
        fieldset
        {
            background-color: #fff;
            border: none;
            padding: 20px 10px 10px 10px;
        }

        h2
        {
            color:#fff; 
            background-color: #d32f2f; 
            font-size: 20px; 
            letter-spacing: 1px; 
            height: 60px; 
            line-height:60px;
            text-align: center;
        }

        .p_selectCM
        {
            color:#000;
            font-family: 'Lato', sans-serif;
          
            text-align: center;
        }

        .dropdown_selectCM
        {
            width: 240px;
           height: 37px;
           overflow: hidden;     
           border: 2px solid #808080;
           -webkit-appearance: none;
           -moz-appearance: none;
           padding: 5px;
           font-size: 16px;
           
        }
        .table_evaluate
       {
            background-color: #fff;
            border:none;
            text-align: center;
			width: auto;
			display: block;
        }
        td
        {
	        background-color: #fff;
            border:1px #e7e7e7; 
            border-style: solid;
            padding: 5px 5px 5px 5px;
            text-align: center;
            width: auto;
        }
        .td_criteria
        {
            border: none;
            text-align:left;
        }
        th
        {
            background-color: #f1d3d3;
            color: #000;
            border:1px #e7e7e7; 
            border-style: solid;
            padding: 5px 5px 5px 5px;
        }