table {
    top: 10px;
    width: 100%;
}

.container {
    margin: 10px 50px 50px 50px;
}

.dropdown {
    width: 120px;
    height: 37px;
    overflow: hidden;
    border: 2px solid #808080;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
    font-size: 16px;
}

.title {
    color: #D64541;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

h3 {
    color: #fff;
    background-color: #6BB9F0;
    text-align: center;
    line-height: 25px;
    padding: 5px;
}

td {
    border: 1px #e7e7e7;
    border-style: solid;
}

.num {
    height: 46px;
    font-size: 18px;
    color: #2C3E50;
}


.back_btn {
    padding: 3px 3px 3px 3px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #22A7F0;
    border: solid 5px #22A7F0;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

    .back_btn:hover {
        background-color: #3498DB;
        border: solid 5px #3498DB;
    }

.gridViewHeader {
    color: #fff;
    background-color: #6BB9F0;
    text-align: center;
    line-height: 25px;
    padding: 5px;
    width: 100px;
    border-color: #e7e7e7;
}

.gridViewItem {
    width: 100px;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
